.container{
    background-color: #d3be97;
    padding: 15px 30px;
    color: rgb(27, 27, 27);
    box-shadow: 2px 1.2px 2px #666666;  
  
}
.title{
    font-family: "Poppins", serif;
    font-weight: 700;
    margin: 0;
}