.tasks{
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    .count{
        width: 15%;
        
        padding: 8px 15px;
        margin: 2px 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #666666; 
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        span{
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            display: flex;
            align-items:center;
            justify-content: space-evenly;
            
        }
    }
    .total{
        background-color: #e7e0cf;
        color: #3d3b36;
    }
    .todo{
        background-color: #dcceb3;
        color: rgb(65, 61, 53);
    }
    .completed{
        background-color: #8de79e;
        color: #325239;
    }
    .ongoing{
        background-color: #a3bdff;
        color: #1a2f64;
    }
    .pending{
        background-color: #f1c159;
        color: #3f2c02;
    }
    
}