<!-- <div class="filtering" >
    <select class="filter" [(ngModel)]="selectedFilter" (change)="filterTasks()" 
    [ngStyle]="{'background-color': getCategoryColor(selectedFilter)}">
        <option value="All">All</option>
        <option class="options" *ngFor="let category of uniqueCategories" [value]="category" >{{category}}</option>
    </select>
</div> -->

<div class="filtering" >
    <select class="filter" >
        <option value="all">All</option>
        <option value="latest">Latest to Oldest</option>
        <option value="oldest">Oldest to Latest</option>
    </select>
</div>