.filter{
    background-color: #d3c6ac;
    width: 12%;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #b9b9b9;
    font-weight: 700;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 8px;
    cursor: pointer;
    &:hover{
        background-color: #d6d0c0;
    }
}
