

.container-row{
    background-color: #fff7e6;
    border: 1px solid #615d54;
    display: flex;
    margin: 3px 0;
   
    .td:not(.button-tbl, .date-tbl){
        border-right: 1px solid #615d54;
    }

    .category-tbl{
        width: 12%;
        .select-category{
            background-color: #fff7e6;
            border: none;
            font-weight: 600;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }
    .task-tbl{
        width: 80%;
        padding: 0 12px;
        & input{
            width: 100%;
            
            background-color: transparent;
            border: none;
        }
    }
    .date-tbl{
        font-size: 10px;
        text-align: center;
        float: right;
    }
    .button-tbl{
        width: 8%;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 200;
        #edit{
            color: green;
        }
        #del{
            color: rgb(219, 0, 0);
        }
    }
}

p{
    text-align: center;
    font-weight: 500;
}