<div *ngIf="todos.length > 0"  >
    <div class="container-row" *ngFor="let todo of todos">
        <span class="td category-tbl"> 
            <select [(ngModel)]="todo.category" class="select-category">
                <option class="options" *ngFor="let category of categories" [value]="category" >{{category}}</option>
            </select>
        </span>

        <span class="td task-tbl" >
            <input type="text" [(ngModel)]="todo.task" class="task-input"/>
            
            <span class="td date-tbl">{{todo.date | date:' HH:mm MM/dd/yyyy'}}</span>
        </span>
        
        <span class="td button-tbl"> 
            <fa-icon [icon]="faPenToSquare" id="edit" matTooltip="Edit" >
                
            </fa-icon>
            |  
            <fa-icon [icon]="faTrash" id="del" matTooltip="Delete">

            </fa-icon>  
        </span>
        
    </div>
</div>



<p *ngIf="!todos || todos.length ===0">No Task Yet</p>
