<div class="form-container">
    <form #form="ngForm" (ngSubmit)="addTodo()"> 
        <div class="task">
            <input id="taskName" class="input-task" type="text" placeholder="Enter a Task" name="taskName" [(ngModel)] ="addTodoRequest.taskName">

            <select class="categories-style" id="taskStatus" name="taskStatus" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
                
                <option *ngFor="let status of categories" [value]="status">{{ status }}</option>
            </select>
            
            <button class="addButton" type="submit" ><mat-icon id="add-icon">add</mat-icon> Add</button>
        </div>
    </form>
</div>